/* Filters.css */
.filters-container {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .filter-input {
    flex: 1;
    margin-right: 40px;
  }
  
  .filter-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .filter-input input::placeholder {
    color: #999;
  }
  .filter-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
  }
  
  .filter-input select option {
    padding: 10px;
  }
  
  .filter-input select::placeholder {
    color: #999;
  }
  
  /* Adjust spacing between filters */
  .filter-input:not(:last-child) {
    margin-bottom: 10px;
  }